@{
    ViewData["Title"] = "Admin";
}

<div align='center'>
    <div class="jumbotron">
        <h1> Brand X Quiz 2 - 3</h1>
        <br />
        <h3>Members:</h3>
        <h4>Parrenio, Renz Ian</h4>
        <h4>Teñoso, John Michael S.</h4>
        <h4>Ortega, Christopher Andrew Espino</h4>
        <br/>

        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="HomePage">Admin</a> |
        <a class="btn btn-info" asp-area="" asp-controller="StudentInfoes" asp-action="Index">Student</a>
    </div>
 </div>
